#navphotos {
  width: 240 px;
  height: 800 px;
  position: absolute;
  top: 20 px;
  left: 20 px;
  background-color: purple;
  display: flex;
  flex-direction: column;
}
#frontpage {
  width: 800 px;
  height: 800 px;
  background-color: blue;
body {
  background-color:rgba(0,0,255,0.3); 
}
h1 {color: white; text-align: center; font-size: 40px; font-family: 'Lato', sans-serif;
font-family: 'Pacifico', cursive;
}
h2 {color: white; text-align: center; font-size: 24px;
}
p {color: white; text-align: center;
}
