body {
  background-color:rgba(0,0,255,0.3); 
}
h1 {
  color: white; text-align: center; font-size: 60px; 
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}
h2 {
  color: white; text-align: center; font-size: 24px;
  font-family: 'Architects Daughter', cursive;
}
p {color: white; text-align: center;
}
#navbar {
  position: absolute;
  top: 400 px;
  left: 100 px;
  width: 500 px;
  height: 1000 px;
  padding: color: white; 
  border: 5px white;
}
img1, img2, img3, img4 {
  height: 160 px;
  width: 240 px;
}
    
