nav {float: left; text-align: left;
}
section {float: right; text-align: right;
}
body {background-color:rgba(0,0,255,0.3); 
}
h1 {color: white; text-align: center; font-size: 40px;
}
h2 {color: white; text-align: center; font-size: 24px;
}
p {color: white; text-align: center;
}
