
header {text-align: center; background-color: forestgreen; color: white; font-family: Arial;}

button {color: blue;}

.jumbotron {background-color: orange;}

h2 {font-family: Helvetica; font-size: 30px;}
